@import url("./reset.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Quicksand", "Inter", Arial, Helvetica, sans-serif;
	font-size: 2.4rem;
	line-height: 1.5;
}

h1,
h2,
h3 {
	line-height: 1.1;
	margin-bottom: 1rem;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

p {
	margin-top: 0;
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 1.8rem;
	}

	h1 {
		font-size: 8rem;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 2.4rem;
	}
}

a {
	text-decoration: none;
}
